#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Email View
GenericName=Image Sharer
Comment=A simple image sharer
Exec=emlview %U
Terminal=false
Type=Application
MimeType=message/rfc822
Icon=emlview.svg
